@import url(./__description/cards__description.css);
@import url(./__image/cards__image.css);
@import url(./__item/cards__item.css);
@import url(./__title/cards__title.css);

.cards {
    display: flex;
    width: 920px;
    flex-wrap: wrap;
    text-align: center;
    column-gap: 100px;
  }
