.feynman__link {
    position: absolute;
    right: 0px;
    top: 50%;
    margin-right: 48px;
    font-weight: normal;
    font-size: 36px;
    line-height: 51px;
    align-items: center;
    z-index: 1;
    text-decoration: none;
    color: #2f80ed;
  }
  .feynman__link:hover {
    opacity: 0.6;
  }
