@import url(./__link/feynman__link.css);
@import url(./__subtitle/feynman__subtitle.css);
@import url(./__title/feynman__title.css);

.feynman {
    display: flex;
    background-color: #f2f2f2;
    position: relative;
    flex-direction: column;
    align-items: center;
    background-image: url(../../../images/feinman.png);
    background-position: bottom 0 left 0;
    background-size: 867px 637px;
    background-repeat: no-repeat;
    height: 790px;
  }