.two-columns__paragraph {
    font-weight: normal;
    padding: 0px;
    margin: 0 0 30px 0;
    font-size: 24px;
    line-height: 34px;
  }
.two-columns__paragraph:last-child {
    margin-bottom: 0;
}
