.table_theme_dark {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1100px;
    margin: auto;
    z-index: 1;
    position: relative;
    padding-bottom: 90px;
}
