.kaufman__triangle {
    background-image: url(../../../images/triangle.svg);
    background-size: contain;
    height: 877px;
    position: absolute;
    right: -210px;
    top: 0;
    width: 877px;
}
