.resources__logo {
    display: flex;
    justify-content: center;
    width: 270px;
    height: 38px;
    gap: 5px;
    transition: opacity .3s ease; 
} 

 .resources__logo:hover { 
    opacity: 0.6; 
}
