.footer__column-links {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 16px;
    gap: 10px;
    list-style: none;
    padding-left: 0px;
    font-weight: normal;
    font-size: 18px;
  }
