.section-subtitle_theme_dark {
    color: white;
    display: flex;
    justify-content: center;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 0px;
    z-index: 1;
  }