.khan__buy-link {
    display: flex;
    align-items: start;
    font-weight: normal;
    font-size: 30px;
    line-height: 42px;
    text-decoration: none;
    color: #2f80ed;
    margin-left: 48px;
    transition: opacity .3s ease;
}

.khan__buy-link:hover {
    opacity: 0.6;
}
